.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  &__options {
    display: flex;
    gap: 0.5rem;

    &-button {
      margin-top: 4rem;
      width: 13rem;
    }
  }
}
